.projectsContainer {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: unset;
    margin: unset;
    max-width: unset;
}

.projectCard {
    margin: 1%;
    width:35%;
}

.projectCardDesc {

}

.profileName {
    font-size: 40px;
}

.profileCauses {
    display: flex;
    justify-content: center;
}

.profile {
    width: 80%;
    margin: 0;
    padding: 0;
    background-color: #000 top;
    left: 0;
}

.cauesBadge {}