.projectsContainer {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: unset;
    margin: unset;
    max-width: unset;
}

.projectCard {
    margin: 1%;
    width: 30%;
    min-width: 350px;
}

.projectCardDesc {}

.profileName {
    font-size: 40px;
}

.profileCauses {
    display: flex;
    justify-content: center;
}

.profile {
    width: 80%;
    margin: 0;
    padding: 0;
    background-color: #000 top;
    left: 0;
}

.causeBadge {
    margin-right: 2px;
    font-size: 1.5vmin;
}

.projectCard * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.45s ease;
}

.projectCard:hover div,
.projectCard.hover div {
    opacity: 0.9;
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}
