// Override default variables before the import


$theme-colors: (
  primary:rgb(14,118,189),
  secondary:rgba(169, 187, 211, 0.473),
  info:#F4FAFF,
  success:#43C59E,
  danger:#F78154,
  background:hsla(207, 82%, 94%, 0.856)
);



// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';