.profileHeader {
    display: flex;
    flex-direction: column;
}

.profileImage {
    align-self: center;
    width: 200px;
    height: 200px;
    margin: 1%;
}

.experiencesContainer {
    width: 100%;
}

.experiencesCard{
    padding:0;
}

.profileName {
    font-size: 40px;
    text-align: center;
}

.profileCauses {
    display: flex;
    justify-content: center;
    border: black;
}

.profile {
    width: 80%;
    margin: 0;
    padding: 0;
    background-color: #000 top;
    left: 0;
}

.causeBadge {
    margin: 0.25%;
}